/*  

   change the padding  100px
*/
    
body {
        background-color: #028174!important;

    }
.homepage{
   margin-top:10vh!important;
}
.header-img{
   width : 100%;
    height:100%;
}
 video {
    min-width: 100%;
    min-height: 100%;
   
/*
