body {
    height: 200vh;
    margin: 0px;
    padding: 0px;
  background-image: url(ssss.jpg);
}

nav {
    padding: 1vh 0vh 1vh;
    z-index: 100000;
    position: fixed;

    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
}

.nav-content {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;

}

.nav-brand {

    display: flex;
    padding-left: 6%;
    column-gap: 3vh;
    transition: 0.6s;
}

#brand-logo {
    height: 50px;
    widows: 50px;
}

.nav-brand {

    width: 100%;
}

#brand-name {
    font-size: 5vh;
    color: #ffff;
    font-family: fantasy;
}

.nav-content,
ul,
li,
a {
    color: #f0f0f0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    height: 6vh;
}

a:hover {
    border-bottom: solid 2px #ff1e56;
}

.nav-link {
    width: 20vh;
    font-size: 4vh;
    position: relative;
    left: 40%;
}

nav.sticky {
    background-color: #0b4f6c;
    width: 100%;
    display: flex;
    transition: 1s;
}

nav.sticky,
.nav-brand {

    display: flex;
    padding-left: 4%;
    column-gap: 3vh;
    transition: 0.6s;
}

nav.sticky ul li a {
    color: white;
    font: 1vh;
    position: relative;
    left: 60vh;
}

/*   -------------------------------------mobile view Media Query--------------------------------- */
@media (max-width: 580px) {

    header {
        padding: .35em;
        width: 100%;
    }

    header h1 {
        display: inline;
        margin-top: 0;
    }

    header,
    nav {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
    }

    nav ul {
        position: relative;
        width: 80vh;
        height: 25vh;
        top: 10vh;
        color: #f0f0f0;
        right: 40%;
    }

    nav a {
        color: white;
        font: 1vh;
        display: flex;
21-1--
    }

    .sticky {
        width: 100%;
        display: flex;
        transition: 1s;
    }

    nav ul li {
        width: 1vh;
        position: relative;
        margin-bottom: 2vh;

    }

    nav.sticky ul li a {
        position: relative;
        left: 1%;
        color: #f0f0f0;
        font-size: 3.5vh;

    }
}

/* -------------------------------------tablet  view Media Query---------------------------------*/
@media (min-width: 581px) and (max-width: 967px) {
    body {
        background-color: purple;
    }

    #brand-name {
        font-size: 5vh;
        color: #ffff;
        font-family: fantasy;
        width: 30vh;
    }

    nav ul {
        margin: 0;
        display: inline;
        padding-right: .15em;
        margin-top: 5vh;
        display: flex;
        position: relative;
        right: 10%;

    }

    nav.sticky ul {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }

    nav.sticky ul li a {
        position: relative;
        display: grid;
        left: 50%;
    }

}